<div *ngIf="message">
    {{message}}
</div>

<div *ngIf="consumerBusinessDetails" align="center">
    <h1>Consumer Business Details</h1>
    <table style="border: 1px solid black;border-collapse: collapse;">
     
      <tr><td>First Name:</td>
        <td>
            {{consumerBusinessDetails.firstname}} 
        </td>
      </tr>
      <tr><td>Last Name:</td>
        <td>
            {{consumerBusinessDetails.lastname}}
        </td>
      </tr>
      <tr><td>DOB:</td>
        <td>
            {{consumerBusinessDetails.dob}}
        </td>
      </tr>
      <tr><td>Business Name:</td>
        <td>
            {{consumerBusinessDetails.businessname}}
        </td>
      </tr>
      <tr><td>Pan Details:</td>
        <td>
            {{consumerBusinessDetails.pandetails}}
        </td>
      </tr>
      <tr><td>Email:</td>
        <td>
            {{consumerBusinessDetails.email}}
        </td>
      </tr>
      <tr><td>Phone:</td>
        <td>
            {{consumerBusinessDetails.phone}}
        </td>
      </tr>
      <tr><td>Website:</td>
        <td>
            {{consumerBusinessDetails.website}}
        </td>
      </tr>
      <tr><td>Business Qverview:</td>
        <td>
            {{consumerBusinessDetails.businessoverview}}
        </td>
      </tr>
      <tr><td>Validity:</td>
        <td>
            {{consumerBusinessDetails.validity}}
        </td>
      </tr>
      <tr><td>Agent Name:</td>
        <td>
            {{consumerBusinessDetails.agentname}}
        </td>
      </tr>
      <tr><td>Agent Id:</td>
        <td>
            {{consumerBusinessDetails.agentid}}
        </td>
      </tr>
      <tr><td>Business ID:</td>
        <td>
            {{consumerBusinessDetails.businessid}}
        </td>
      </tr>
      <tr><td>Consumer ID:</td>
        <td>
            {{consumerBusinessDetails.consumerId}}
        </td>
      </tr>
      <tr><td>Business Category:</td>
        <td>
            {{consumerBusinessDetails.businesscategory}}
        </td>
      </tr>
      <tr><td>Business Type:</td>
        <td>
            {{consumerBusinessDetails.businesstype}}
        </td>
      </tr>
      <tr><td>Business Turn Over:</td>
        <td>
            {{consumerBusinessDetails.businessturnover}}
        </td>
      </tr>
      <tr><td>Capital Invested:</td>
        <td>
            {{consumerBusinessDetails.capitalinvested}}
        </td>
      </tr>
      <tr><td>Total Employees:</td>
        <td>
            {{consumerBusinessDetails.totalemployees}}
        </td>
      </tr>
      <tr><td>Business Value:</td>
        <td>
            {{consumerBusinessDetails.businessvalue}}
        </td>
      </tr>
      <tr><td>Business Age:</td>
        <td>
            {{consumerBusinessDetails.businessage}}
        </td>
      </tr>
     
    </table>
    </div>
    <br>
    <br>
    
