<div *ngIf="message">
    {{message}}
</div>

<div *ngIf="property" align="center">
    <h1>Business Property Details</h1>
    <table style="border: 1px solid black;border-collapse: collapse;">
      <tr><td>Property ID:</td>
        <td>
        {{property.id}}
    </td>
      </tr>
      <tr><td>Business ID:</td>
        <td>
        {{property.businessId}}
    </td>
      </tr>
      <tr><td>Consumer ID:</td>
        <td>
        {{property.consumerId}}
    </td>
      </tr>
      <tr><td>Insurance Type:</td>
        <td>
        {{property.insurancetype}}
    </td>
      </tr>
      <tr><td>Property Type:</td>
        <td>
        {{property.propertytype}}
    </td>
      </tr>
      <tr><td>Building Sqft:</td>
        <td>
        {{property.buildingsqft}}
    </td>
      </tr>
      <tr><td>Building Type:</td>
        <td>
        {{property.buildingtype}}
    </td>
      </tr>
      <tr><td>Building Storeys:</td>
        <td>
        {{property.buildingstoreys}}
    </td>
      </tr>
      <tr><td>Building Age:</td>
        <td>
        {{property.buildingage}}
    </td>
      </tr>
      <tr><td>Property Value:</td>
        <td>
        {{property.propertyvalue}}
    </td>
      </tr>
       <tr><td>Cost of the Asset:</td>
        <td>
        {{property.costoftheasset}}
    </td>
      </tr>
      <tr><td>Salvage Value:</td>
        <td>
        {{property.salvagevalue}}
    </td>
      </tr>
      <tr><td>Useful Life of the Asset:</td>
        <td>
        {{property.usefullifeoftheAsset}}
    </td>
      </tr>
       
    </table>
    
    </div>
    <br>
    <br>