<div align="right">
	<form th:action="@{/logout}" method="post">
		<button type="submit">logout</button>
	</form>
</div>
<h1>Policy Administration System</h1>
<div class="container" align="center">
		<h2>Create Consumer Business</h2>
		<form (ngSubmit)="createConsumerBusinessSubmit(consumerBusinessForm.value)" #consumerBusinessForm="ngForm">
			<table>
				<tr>
					<td>First Name:</td>
					<td><input type="text" class="form-control" name="firstname" id="firstname" ngModel /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" class="form-control" name="lastname" id="lastname" ngModel/></td>
				</tr>
				<tr>
					<td>DOB:</td>
					<td><input type="text" class="form-control" name="dob" id="dob" ngModel /></td>
				</tr>
				<tr>
					<td>Business Name:</td>
					<td><input type="text" class="form-control" name="businessname" id="businessname" ngModel/></td>
				</tr>
				<tr>
					<td>Pan Details:</td>
					<td><input type="text" class="form-control" name="pandetails" id="pandetails" ngModel/></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="text" class="form-control" name="email" id="email" ngModel/></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input type="text" class="form-control" name="phone" id="phone" ngModel/></td>
				</tr>
				<tr>
					<td>Website:</td>
					<td><input type="text" class="form-control" name="website" id="website" ngModel/></td>
				</tr>
				<tr>
					<td>Business Overview:</td>
					<td><input type="text" class="form-control" name="businessoverview" id="businessoverview" ngModel/></td>
				</tr>
				<tr>
					<td>Validity:</td>
					<td><input type="text" class="form-control" name="validity" id="validity" ngModel/></td>
				</tr>
				<tr>
					<td>Agent Name:</td>
					<td><input type="text" class="form-control" name="agentname" id="agentname" ngModel/></td>
				</tr>
				<tr>
					<td>Agent Id:</td>
					<td><input type="number" class="form-control" name="agentid" id="agentid" ngModel/></td>
				</tr>
				<tr>
					<td>Business Category:</td>
					<td><input type="text" class="form-control" name="businesscategory" id="businesscategory" ngModel/></td>
				</tr>
				<tr>
					<td>Business Type:</td>
					<td><input type="text" class="form-control" name="businesstype" id="businesstype" ngModel/></td>
				</tr>
				<tr>
					<td>Business Turnover:</td>
					<td><input class="form-control" name="businessturnover" id="businessturnover" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Capital Invested:</td>
					<td><input type="number" class="form-control" name="capitalinvested" id="capitalinvested" ngModel/></td>
				</tr>
				<tr>
					<td>Total Employees</td>
					<td><input type="number" class="form-control" name="totalemployees" id="totalemployees" ngModel/></td>
				</tr>
				<tr>
					<td>Business Age:</td>
					<td><input type="number" class="form-control" name="businessage" id="businessage" ngModel/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="form__button"
						value="Create Consumer Business"/></td>
				</tr>
			</table>
		</form>
		<table>
			<tr>
				<td><h3>Consumer Business Status:</h3></td>
				<td><h3>
						{{consumerBusinessCreate}}
					</h3></td>
			</tr>
		</table>
		<br> <br>

		<!-- -->

	<h2>View Consumer Business</h2>
	<form #viewConsumerBusinessForm="ngForm">
		<table>
			<tr>
				<td>Consumer ID:</td>
				<td><input class="form-control" name="consumerId" id="consumerId" type="number" ngModel /></td>
			</tr>
		    <tr>
				<a href="/viewConsumerBusiness/{{viewConsumerBusinessForm.value.consumerId}}">View Consumer Business</a>
			</tr>
		</table>
	</form>
<br> <br>

		<h2>Update Consumer Business</h2>
		<form #updateConsumerBusinessForm="ngForm" (ngSubmit)="updateConsumerBusinessSubmit(updateConsumerBusinessForm.value)">
			<table>
				<tr>
					<td>First Name:</td>
					<td><input class="form-control" name="firstname" id="firstname" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input class="form-control" name="lastname" id="lastname" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>DOB:</td>
					<td><input class="form-control" name="dob" id="dob" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Business Name:</td>
					<td><input class="form-control" name="businessname" id="businessname" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Pan Details:</td>
					<td><input class="form-control" name="pandetails" id="pandetails" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input class="form-control" name="email" id="email" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input class="form-control" name="phone" id="phone" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Website:</td>
					<td><input class="form-control" name="website" id="website" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Business Overview:</td>
					<td><input class="form-control" name="businessoverview" id="businessoverview" type="text" ngModel/></td>
				</tr>
				<tr>
				<tr>
					<td>Validity:</td>
					<td><input class="form-control" name="validity" id="validity" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Agent Name:</td>
					<td><input class="form-control" name="agentname" id="agentname" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Agent Id:</td>
					<td><input class="form-control" name="agentid" id="agentid" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Business Id:</td>
					<td><input class="form-control" name="businessid" id="businessid" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Consumer Id:</td>
					<td><input class="form-control" name="consumerId" id="consumerId" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Business Category:</td>
					<td><input class="form-control" name="businesscategory" id="businesscategory" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Business Type:</td>
					<td><input class="form-control" name="businesstype" id="businesstype" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Business Turnover:</td>
					<td><input class="form-control" name="businessturnover" id="businessturnover" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Capital Invested:</td>
					<td><input class="form-control" name="capitalinvested" id="capitalinvested" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Total Employees</td>
					<td><input class="form-control" name="totalemployees" id="totalemployees" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Business Value:</td>
					<td><input class="form-control" name="businessvalue" id="businessvalue" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Business Age:</td>
					<td><input class="form-control" name="businessage" id="businessage" type="number" ngModel/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="form__button"
						value="Update Consumer Business" /></td>
				</tr>

			</table>
		</form>
		<table>
			<tr>
				<td><h3>Consumer Business Status:</h3></td>
				<td><h3>
						{{consumerBusinessUpdate}}
					</h3></td>
			</tr>
		</table>
		<br> <br>
		<h2>Create Business Property</h2>
		<form #createBusinessPropertyForm="ngForm" (ngSubmit)="createBusinessPropertySubmit(createBusinessPropertyForm.value)">
			<table>
				<tr>
					<td>Business ID:</td>
					<td><input class="form-control" name="businessId" id="businessId" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Consumer ID:</td>
					<td><input class="form-control" name="consumerId" id="consumerId" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Insurance Type:</td>
					<td><input class="form-control" name="insurancetype" id="insurancetype" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Property Type:</td>
					<td><input class="form-control" name="propertytype" id="propertytype" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Building sqft:</td>
					<td><input class="form-control" name="buildingsqft" id="buildingsqft" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Building Type:</td>
					<td><input class="form-control" name="buildingtype" id="buildingtype" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Building Storeys:</td>
					<td><input class="form-control" name="buildingstoreys" id="buildingstoreys" type="text" ngModel/></td>
				</tr>
				<tr>
					<td>Building Age:</td>
					<td><input class="form-control" name="buildingage" id="buildingage" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Cost of the Asset:</td>
					<td><input class="form-control" name="costoftheasset" id="costoftheasset" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Salvage Value:</td>
					<td><input class="form-control" name="salvagevalue" id="salvagevalue" type="number" ngModel/></td>
				</tr>
				<tr>
					<td>Useful Life of the Asset:</td>
					<td><input class="form-control" name="usefullifeoftheAsset"
						id="usefullifeoftheAsset" type="number" ngModel/></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="form__button"
						value="Create Business Property" /></td>
				</tr>

			</table>
		</form>
		<table>
			<tr>
				<td><h3>Business Property Status:</h3></td>
				<td><h3>
						{{businessPropertyCreate}}
					</h3></td>
			</tr>
		</table>
		<br> <br>

		<h2>View Business Property</h2>
		<form #viewBusinessPropertyForm="ngForm">
			<table>
				<tr>
					<td>Consumer ID:</td>
					<td><input class="form-control" name="consumerId" id="consumerId" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Property ID:</td>
					<td><input class="form-control" name="propertyId" id="propertyId" type="number" ngModel /></td>
				</tr>
				<tr>
					<a href="/viewBusinessProperty/{{viewBusinessPropertyForm.value.consumerId}}/{{viewBusinessPropertyForm.value.propertyId}}">View Consumer Business</a>
				</tr>
			</table>
		</form>
		<br> <br>

		<h2>Update Business Property</h2>
		<form  #updateBusinessPropertyForm="ngForm" (ngSubmit)="updateBusinessPropertySubmit(updateBusinessPropertyForm.value)">
			<table>
				<tr>
					<td>Property Id:</td>
					<td><input class="form-control" name="propertyId" id="propertyId" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Business ID:</td>
					<td><input class="form-control" name="businessId" id="businessId" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Consumer ID:</td>
					<td><input class="form-control" name="consumerId" id="consumerId" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Insurance Type:</td>
					<td><input class="form-control" name="insurancetype" id="insurancetype" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Property Type:</td>
					<td><input class="form-control" name="propertytype" id="propertytype" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Building sqft:</td>
					<td><input class="form-control" name="buildingsqft" id="buildingsqft" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Building Type:</td>
					<td><input class="form-control" name="buildingtype" id="buildingtype" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Building Storeys:</td>
					<td><input class="form-control" name="buildingstoreys" id="buildingstoreys" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Building Age:</td>
					<td><input class="form-control" name="buildingage" id="buildingage" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Cost of the Asset:</td>
					<td><input class="form-control" name="costoftheasset" id="costoftheasset" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Salvage Value:</td>
					<td><input class="form-control" name="salvagevalue" id="salvagevalue" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Useful Life of the Asset:</td>
					<td><input name="usefullifeoftheAsset" id="usefullifeoftheAsset" type="number" ngModel /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" class="form__button"
						value="Update Business Property" /></td>
				</tr>
			</table>
		</form>
		<table>
			<tr>
				<td><h3>Business Property Status:</h3></td>
				<td><h3>
						{{businessPropertyUpdate}}
					</h3></td>
			</tr>
		</table>

		<br> <br>

		<h2>View Quotes</h2>
		<form #getQuotesForm="ngForm" (ngSubmit)="getQuotesSubmit(getQuotesForm.value.businessValue, getQuotesForm.value.propertyValue, getQuotesForm.value.propertyType)">
			<table>
				<tr>
					<td>Business Value:</td>
					<td><input class="form-control" name="businessValue" id="businessValue" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Property Value:</td>
					<td><input class="form-control" name="propertyValue" id="propertyValue" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Property Type:</td>
					<td><input class="form-control" name="propertyType" id="propertyType" type="text" ngModel /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="View Quotes" class="form__button" /></td>
				</tr>

			</table>
		</form>
		<table>
			<tr>
				<td><h3>Quotes:</h3></td>
				<td><h3>
						{{quotes}}
					</h3></td>
			</tr>
		</table>
		<br> <br>
		<h2>Create Policy</h2>
		<form #createPolicyForm="ngForm" (ngSubmit)="createPolicySubmit(createPolicyForm.value)">
			<table>
				<tr>
					<td>Consumer ID:</td>
					<td><input class="form-control" name="consumerid" id="consumerid" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Accepted Quotes</td>
					<td><input class="form-control" name="acceptedquotes" id="acceptedquotes" type="text" ngModel /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Create Policy" class="form__button" />
					</td>
				</tr>

			</table>
		</form>
		<table>
			<tr>
				<td><h3>Policy Status:</h3></td>
				<td><h3>
						{{createPolicyMessage}}
					</h3></td>
			</tr>
		</table>
		<br> <br>
		<h2>Issue Policy</h2>
		<form #issuePolicyForm="ngForm" (ngSubmit)="issuePolicySubmit(issuePolicyForm.value)">
			<table>
				<tr>
					<td>Policy ID:</td>
					<td><input class="form-control" name="policyid" id="policyid" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Consumer ID:</td>
					<td><input class="form-control" name="consumerid" id="consumerid" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Business Id:</td>
					<td><input class="form-control" name="businessid" id="businessid" type="number" ngModel /></td>
				</tr>
				<tr>
					<td>Payment Details:</td>
					<td><input class="form-control" name="paymentdetails" id="paymentdetails" type="text" ngModel /></td>
				</tr>
				<tr>
					<td>Acceptance Status</td>
					<td><input class="form-control" name="acceptancestatus" id="acceptancestatus" type="text" ngModel /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Issue Policy" class="form__button" /></td>
				</tr>

			</table>
		</form>
		<table>
			<tr>

				<td><h3>Issue Policy Status:</h3></td>
				<td><h3>
						{{issuePolicyMessage}}
					</h3></td>

			</tr>
		</table>
		<br> <br>
		<h2>View Policy</h2>
		<form #viewPolicyForm="ngForm">
			<table>
				<tr>
					<td>Consumer ID:</td>
					<td><input class="form-control" name="consumerId" id="consumerId" type="number"
						ngModel /></td>
				</tr>
				<tr>
					<td>Policy ID:</td>
					<td><input class="form-control" name="policyId" id="policyId" type="text" ngModel /></td>
				</tr>
					<a href="/viewPolicy/{{viewPolicyForm.value.consumerId}}/{{viewPolicyForm.value.policyId}}">View Policy</a>
				<tr>
					
				</tr>
			</table>
		</form>
		<br> <br>
	</div>
